httpx>=0.27
pydantic-settings>=2
sqlalchemy
psycopg[binary]
boto3
musicbrainzngs>=0.7
myblog-shared-db @ git+https://github.com/hyuntohoon/myblog_shared_db.git@5bd22c492fd505094e72339c2e6fbd4c57f744a8
