httpx>=0.27
pydantic-settings>=2
sqlalchemy
psycopg[binary]
boto3
musicbrainzngs>=0.7
myblog-shared-db @ git+https://github.com/hyuntohoon/myblog_shared_db.git@6c57b78b36981ccc2226235f6d835927964243c7
